
 @import url('https://fonts.googleapis.com/css?family=Abril+Fatface|DM+Sans&display=swap');

body {
    font-family: Arial, Helvetica, sans-serif;
     }

h1 {
    font-family: 'Abril+FatFace', sans-serif;
    }

h2 {
     font-family: 'DM+Sans', sans-serif;
    }

h4 {
    font-variant-caps: all-small-caps;
    }
        